<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>분석모델 LGBM Classifier</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 메인 페이지 css설정 -->
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/mainstyle.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/graph.css?ver=113" rel="stylesheet" type="text/css" />
	
	<!-- 
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
	 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
	<script type="text/javascript" src="/static/js/Graph.js?ver=123"></script>
	
	
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/test/main.css?ver=123">
	<link rel="stylesheet" href="/static/test/skin.css?ver=123">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="/static/test/index.js"></script>
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+82 010 0000 0000</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">Admin@LoanRisk.kr</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse" style="height:170px; margin-top:10px;">
            <div class="container">
                <div class="row" style="z-index:1;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="/">
                            <h1>LRA</h1><span>Loan Risk Assessment</span></a>
                            <!-- Loan Risk Assessment -->
                    </div>
					<div id="navbar" class="collapse navbar-collapse navbar-right">
						<!-- 수정안 -->
						<div style='display: inline-block; justify-content:center;'>
							<a href='about' class="link7" style='display: inline-block;'>팀
								<span class="sub">소개합니다</span>
							</a> 
							<a href='data' class="link7" style='display: inline-block;'>데이터
								<span class="sub">데이터 설명</span>
							</a>
							&nbsp;&nbsp;
							<div class='dropdown'>
								<a href='model' class="link7" style='display: inline-block;'>분석모델
								<span class="sub">분석 원리</span>
								</a>
								<div class='dropdown-content' id="drop_1">
									<a href='model_DecisionTree'>Decision Tree</a> 
									<a href='model_KNN'>KNN</a> 
									<a href='model_LGBMClassifier'>LGBM</a> 
									<a href='model_LogisticRegression'>Logistic Regression</a> 
									<a href='model_MLP'>MLP</a> 
									<a href='model_NaiveBayes'>Naive Bayes</a> 
									<a href='model_RandomForest'>Random Forest</a> 
									<a href='model_SVM'>SVM</a> 
									<a href='model_Tensor'>Tensor</a> 
									<a href='model_XGBClassifier'>XGB Classifier</a>
								</div>
							</div>

							<a href='predict' class="link7" style='display: inline-block;'>예측
								<span class="sub">예측해드립니다</span>
							</a>
						</div>
					</div>
            	</div>
 			</div>
		</nav>
	</header>
	 
	
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Model description</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Model</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Model<span class="sep"> / </span><span class="current">LGBM Classifier</span></div>
                </div>
            </div>
        </div>
    </section>
   
   
    <section id="contact-page">
        <div class="container">
            <div class="section-heading text-center">
                <h2><span>Supervised Learning</span></h2>
                <p style="color:black; font-size:20px;">지도학습(Supervised Learning)은 정답이 있는 데이터를 활용해 데이터를 학습시키는 것<br>(정답 또는 목표가 분명하며 데이터의 특징(feature)을 토대로 값을 예측)</p>
           	</div>
            
           <div class="container">
    <hr>
    <p style="text-align:center; font-size: 40px; color:black;">LGBMClassifier</p>
    <br><br>
    <div>
    	<abc style="font-size:20px; color:black;">
    	<b>LGBM(Light Gradient Boosting Machine) Classifier 정의</b>><br><br>
		- GBM(Gradient Boosting Machine)이란? <b>틀린부분에 가중치를 더하면서 진행하는 알고리즘</b>이다.<br>
		- Gradient Boosting 프레임워크로 <b>Tree기반 학습 알고리즘</b>이다. <b>기존의 다른 Tree기반 알고리즘과 다른점은 Tree구조가 수평적으로 확장하는 다른 Tree기반 알고리즘에 비해 수직적으로 확장</b>을 하는것에 있다.<br><br>
		<div style="width:100%">
		<img src="/static/images/lgbm_leaf-wise.png" border="1" style="display: block; margin: 0 auto"><br><br>
		</div>
		- 즉, Light GBM은 leaf-wise인 반면 다른 알고리즘은 level-wise이다.<br>
		- <b style="color:red;">leaf-wise의 장점은 속도가 빠르다는 것이 가장 큰 장점</b>이다. 데이터의 양이 많아지는 상황에서 빠른 결과를 얻는데 시간이 점점 많이 걸리고 있다.<br>
		- Light GBM은 큰 사이즈의 데이터를 다룰 수 있고 실행시킬 때 <b style="color:red;">적은 메모리를 차지한다.</b><br>
		- 단점: Light GBM은 Leaf-wise growth로 과적합의 우려가 다른 Tree 알고리즘 대비 높은 편이다.<br>
		- 그러므로 <b style="color:red;">데이터의 양이 적을 경우 Overfitting(과적합)에 취약한 면</b>이 있어 데이타 양이 적을 경우 사용을 자제하는것이 좋다.<br><br><br>
    	
    	[onehot_one ver, 산업군 미포함, 직업/도시/주 포함]<br>
    	<div style="width:50%; border:1px solid white; float:left">
    	<img src="/static/images/LGBMClassifier_train-test_acc.png" border="1" width="550">
    	</div>
    	<div style="width:50%; border:1px solid white; float:right">
    	<img src="/static/images/LGBMClassifier_roc.png" border="1" width="550"><br><br>
    	</div>
    	<b>LGBMClassifier 모델 정확도</b> : 87.94%<br>
    	<b>GridSearchCV의 최적 파라미터</b> : 'max_depth' : 30, 'n_estimators' : 1000<br>
		<b>GridSearchCV의 최고 정확도</b> : 89.59%<br>
		<b>Cross Validation 이후 평균 정확도</b> : 89.83%<br>
		<b>test_accuracy</b> : 89.59%<br>
		<b>train_accuracy</b> : 90.41%<br>
		<b>총개수 : 75600</b>, <b>오류 수</b> : 7870<br>
		confusion_matrix :<br>
	 	[64412  1971]<br>
 		[ 5899  3318]<br><br><hr>
  		
  		[simple ver, 산업군 포함, 직업/도시/주 제외]<br>
  		<div style="width:50%; border:1px solid white; float:left">
  		<img src="/static/images/LGBMClassifier_train-test_acc.png" border="1" width="550">
    	</div>
    	<div style="width:50%; border:1px solid white; float:right">
    	<img src="/static/images/LGBMClassifier_simple_roc.png" border="1" width="550"><br><br>
    	</div>
    	<b>LGBMClassifier 모델 정확도</b> : 87.96%<br>
    	<b>GridSearchCV의 최적 파라미터</b> : 'max_depth' : 10, 'n_estimators' : 1000<br>
		<b>GridSearchCV의 최고 정확도</b> : 89.52%<br>
		<b>Cross Validation 이후 평균 정확도</b> : 89.81%<br>
		<b>test_accuracy</b> : 89.69%<br>
		<b>train_accuracy</b> : 90.55%<br>
		<b>총 갯수 : 75600</b>, <b>오류수</b> : 7797<br>
		<b>confusion_matrix</b> :<br>
 		[64294  2089]<br>
 		[ 5708  3509]
 		</abc>
  	</div>
  </div>
                
                
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                    <div class="col-sm-5 col-sm-offset-1">
                  
        </div>
        </form>
    </div>
</section>       
      <section id="footer">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Useful Links</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="about">About Us</a></li>
                            <li><a href="data">Data</a></li>
                            <li><a href="predict">Predict</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>      
    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Team S2gmo2d</a> designed by <a href="#">Designing_Team</a>
                </div>
            </div>
        </div>
    </section>


    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">
                <div id="tootlbar_colors">
                    <button class="color" style="background-color:#1abac8;" onclick="mytheme(0)"></button>
                    <button class="color" style="background-color:#ff8a00;" onclick="mytheme(1)"> </button>
                    <button class="color" style="background-color:#b4de50;" onclick="mytheme(2)"> </button>
                    <button class="color" style="background-color:#e54e53;" onclick="mytheme(3)"> </button>
                    <button class="color" style="background-color:#1abc9c;" onclick="mytheme(4)"> </button>
                    <button class="color" style="background-color:#159eee;" onclick="mytheme(5)"> </button>
                </div>
            </div>

        </div>
        <a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>
    </div>
</body>

</html>